MONDAY_API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY5ODMyOTQ0NiwiYWFpIjoxMSwidWlkIjoxMTQ3OTAzNDEsImlhZCI6IjIwMjYtMDgtMzBUMDg6Mjg6MDIuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjM2NjcxOTk2LCJyZ24iOiJhcHNlMiJ9.ML9LNn77_wptbhLzw9ECSKE4nddtmG-Ddp0C6eAtjCU
DEALS_BOARD_ID=5030964576
WORK_ORDERS_BOARD_ID=5030964591
